@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;

        --light-blue: #609cf3;
        --dark-blue: #2a429e;
        --light-gray: #bbbbbc;
        --dark-gray: #79797a;
        --white: #ffffff;
        --black: #000000;
        --light-blue-transparent: #609bf37c;
        --light-gray-transparent: #bbbbbc76;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.td-width td {
    max-width: 18vw;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Si le contenu dépasse la largeur maximale, il sera tronqué avec des points de suspension */
    white-space: nowrap;
    /* Empêche le contenu de se répartir sur plusieurs lignes */
}

.table-width table {
    min-width: 88vw;
    max-width: 88vw;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #bbbbbc;
  border-radius: 4px;
  width: 300px;
  outline: none;
}

.search-input:focus {
  border-color: #609cf3;
}

.opacity-10 {
    opacity: 10;
}


.parent {
    display: grid;
    grid-template-columns: 0.01fr repeat(3, 1fr) 0.01fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }

*{
  scroll-behavior: smooth;
}